<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Places | Visit</title>
    <!-- REMIXI ICONS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css"
    />
    <!-- SWIPER CSS 1 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- SWIPER CSS 2 -->
    <link
      href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <!-- STYLES CSS -->
    <link rel="stylesheet" href="/src/css/style.css" />
    <link rel="stylesheet" href="../loader/loader.css" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- ICON PAGE -->
    <link
      rel="shortcut icon"
      href="/public/img/visitIcon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="load" id="load">
      <!-- LOADER DINAMIC -->
    </div>
    <header class="header" id="header">
      <!-- DINAMIC NAV -->
    </header>

    <div class="login grid" id="login-content">
      <!-- DINAMIC LOGIN -->
    </div>

    <div class="login grid" id="signUp-content">
      <!-- DINAMIC SIGNUP -->
    </div>

    <div class="search" id="search-content">
      <form action class="form-search" id="search-form">
        <button type="button">
          <i class="ri-search-line search-icon"></i>
        </button>
        <input
          type="search"
          placeholder="What are you lokking for?"
          class="search-input"
        />
      </form>

      <i class="ri-close-line search-close" id="search-close"></i>
    </div>

    <h2 class="tittle-destinations-grid">Explore alls destinations</h2>
    <p class="text-main-destinations">
      Dare to experience an infinite world of gastronomy and adventure.
    </p>

    <section class="container-cards-places">
      <!-- TOWNS -->
    </section>

    <footer class="footer">
      <!-- DINAMIC FOOTER -->
    </footer>
    <p class="copy-rights">
      <!-- P DINAMIC -->
    </p>

    <script src="../loader/loader.js"></script>
    <script src="/src/components/navbar/navbar.js"></script>
    <script src="/src/components/places/places.js"></script>
    <script src="/src/js/main.js"></script>
    <script type="module" src="/src/js/translator.js"></script>
    <script src="/src/components/login/login.js"></script>
    <script src="../footer/footer.js"></script>
  </body>
</html>
