<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
    <div class="login grid" id="login-content">
      <form action class="login-form grid">
        <h3 class="login-title">Log In</h3>
        <div class="login-group grid">
          <div>
            <label for="login-email" class="login-label">Email</label>
            <input
              type="email"
              placeholder="write your email"
              id="login-email"
              class="login-input"
            />
          </div>

          <div>
            <label for="login-password" class="login-label">Password</label>
            <input
              type="password"
              placeholder="Enter your password"
              id="login-password"
              class="login-input"
            />
          </div>
        </div>

        <div>
          <span class="login-signup">
            You do not have an account ? <a href="#">Sign up</a>
          </span>

          <a href="#" class="login-forgot"> You forgot your password </a>

          <button type="submit" class="login-button button">Log In</button>
        </div>
      </form>

      <i class="ri-close-line login-close" id="login-close"></i>
    </div>

    <script src="login.js"></script>
  </body>
</html>
