<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="search.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css"
    />
  </head>
  <body>
    <div class="search" id="search-content">
      <form action class="form-search">
        <i class="ri-search-line search-icon"></i>
        <input
          type="search"
          placeholder="What are you lokking for?"
          class="search-input"
        />
      </form>

      <i class="ri-close-line search-close" id="search-close"></i>
    </div>
    <script src="search.js"></script>
  </body>
</html>
