/* ***** FONTS ***** By*JR* */
@import url("https://fonts.cdnfonts.com/css/sideware-trial");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.cdnfonts.com/css/momcake");

/* ***** VAR CSS***** By*JR* */

:root {
  --header-height: 3.5rem;

  /***** COLORS *****/
  --space-cadet: #2e294e;
  --azure-web: #edf7f6ff;
  --asparagus: #60993e;
  --chefchaouen-blue: #4a8fe7ff;
  --body-color: ;

  /***** FONT & TYPOGRAPHY *****/
  --body-font: "Work Sans", sans-serif;
  --visit-font: "MOMCAKE", sans-serif;

  /***** FONT WEIGHT *****/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /***** Z-INDEX *****/
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.4s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}






/* ***** CSS CLASSES REUSABLE ***** By*JR* */

.container {
  max-width: 1220px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
}

/* ***** HEADER  STYLES NAV-BAR ***** By*JR* */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s, background-color 0.4s;
}

.nav-bar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  display: inline-flex;
  align-items: center;
}

.list-nav {
  display: flex;
  justify-content: space-between;
}

.link-nav {
  color: var(--space-cadet);
  transition: color 0.4s;
}

.link-nav i {
  font-size: 1.25rem;
}

.actions-nav i {
  font-size: 1.45rem;
  color: var(--space-cadet);
  cursor: pointer;
  transition: color 0.4s;
}

/* *****  SEARCH ***** By*JR* */
.search {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: var(--z-fixed);
  backdrop-filter: blur(15px);
  padding: 8rem 1.5rem;
  transition: top 0.4s;
}

.form-search {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  background-color: var(--azure-web);
  border: 2px solid var(--space-cadet);
  padding-inline: 1rem;
}

.search-icon {
  font-size: 1.25rem;
  color: black;
}

.search-input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--azure-web);
  color: var(--space-cadet);
}

.search-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--space-cadet);
  cursor: pointer;
}

/* *****SHOW SEARCH ***** By*JR* */

.show-search {
  top: 0;
}

/* ***** LOGIN ***** By*JR* */
.login {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: var(--z-fixed);
  background-color: rgb(46, 41, 78, 30%);
  backdrop-filter: blur(5px);
  align-items: center;
  padding: 2rem;
  text-align: center;
  transition: top 0.4s;
}

.login-group {
  row-gap: 1.35rem;
}

.login-label {
  display: block;
  text-align: initial;
  color: var(--space-cadet);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login-input {
  width: 100%;
  background-color: var(--azure-web);
  border: 2px solid rgb(46, 41, 78, 60%);
  padding: 1rem;
  color: var(--space-cadet);
}

/* ***** SHOW LOGIN ***** By*JR* */

.show-login {
  top: 0;
}

/* ***** BUTTON ***** By*JR* */

/* TAMAÑO GRANDE */
@media screen and (min-width: 881px) {
  /* ***** HEADER ***** By*JR* */

  #logo-nav {
    max-width: 48px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    height: 4rem;
    z-index: 1;
  }

  .nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-bar .menu-nav i {
    display: none;
  }

  .link-home-closed{
    display: none;
  }

  .item-nav {
    margin: 0 2rem;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .item-nav i {
    display: none;
  }

  .link-nav {
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s;
    color: var(--space-cadet);
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    padding-bottom: 6px;
    font-size: 1.1rem;
  }

  .link-nav:hover {
    border-bottom-color: var(--asparagus);
  }

  .actions-nav {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 0 1rem 0 0;
   
  }

  .actions-nav i{
    color: var(--space-cadet);
    font-size: 1.3rem;
  }


  /* LOG IN  */

  .login-form {
    width: 40%;
    margin: auto;
    background-color: #2e294e;
    padding: 2rem 1.5rem;
    border-radius: 5px;
  }

  .login-title {
    font-size: 1.2rem;
    color: var(--azure-web);
    font-family: var(--body-font);
  }

  .login-label {
    color: var(--azure-web);
    font-family: var(--body-font);
  }

  .login-form ::placeholder {
    color: var(--space-cadet);
  }

  .login-form input {
    background-color: var(--azure-web);
    border: none;
    border-radius: 5px;
  }

  .login-signup,
  .login-forgot {
    display: block;
    font-size: var(--small-font-size);
  }

  .login-signup {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .login-forgot {
    color: var(--asparagus);
    margin-bottom: 1.25rem;
  }

  .forgot {
    font-family: var(--body-font);
  }

  .forgot a {
    color: var(--asparagus);
  }

  .forgot a:hover {
    color: var(--chefchaouen-blue);
  }

  .button:hover {
    box-shadow: 0 4px 32px var(--chefchaouen-blue);
  }

  .button {
    color: white;
    background-color: var(--chefchaouen-blue);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    padding: 1rem 1.5rem;
    transition: box-shadow 0.4s;
    width: 100%;
    cursor: pointer;
  }

  .login-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: var(--space-cadet);
    cursor: pointer;
  }

  /* SEARCH */

  .search {
    background-color: var(--space-cadet);
    backdrop-filter: blur(15px);
  }

  .search-close{
    color: white;
  }

  .search form {
    border: 2px solid var(--space-cadet);
    background-color: var(--azure-web);
    width: 50%;
    margin: auto;
  }

  .search input {
    background-color: var(--azure-web);
    border: none;
  }
}

/* TAMAÑO PEQUEÑO */
@media screen and (max-width: 800px) {
  body {
    transition: background-color 0.4s;
    background-color: var(--azure-web);
  }

  /* NAV-BAR STYLES */

  #logo-nav {
    max-width: 38px;
  }

  .header {
    background-color: var(--azure-web);
    box-shadow: 0px 8px 12px -9px rgba(0, 0, 0, 0.25);
  }

  .menu-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--space-cadet);
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.2);
    padding: 1.25rem 4rem;
    transition: background-color 0.4s;
  }

  .logo-nav {
    margin: 0 0 0 1rem;
  }

  .menu-nav li i {
    color: azure;
    font-size: 1.3rem;
  }

  .menu-nav li i:hover {
    color: var(--asparagus);
  }

  .link-nav span {
    display: none;
  }

  .actions-nav {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 0 1rem 0 0;
  }

  .ri-search-line {
    font-size: 1.5rem;
  }

  /* LOG IN  */

  .login-form {
    background-color: #2e294e;
    padding: 2rem 1.5rem;
  }

  .login-title {
    font-size: 1.2rem;
    color: var(--azure-web);
    font-family: var(--body-font);
  }

  .login-label {
    color: var(--azure-web);
    font-family: var(--body-font);
  }

  .login-form ::placeholder {
    color: var(--space-cadet);
  }

  .login-form input {
    background-color: var(--azure-web);
    border: none;
    border-radius: 5px;
  }

  .login-signup,
  .login-forgot {
    display: block;
    font-size: var(--small-font-size);
  }

  .login-signup {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .login-forgot {
    color: var(--asparagus);
    margin-bottom: 1.25rem;
  }

  .forgot {
    font-family: var(--body-font);
  }

  .forgot a {
    color: var(--asparagus);
  }

  .forgot a:hover {
    color: var(--chefchaouen-blue);
  }

  .button:hover {
    box-shadow: 0 4px 32px var(--chefchaouen-blue);
  }

  .button {
    color: white;
    background-color: var(--chefchaouen-blue);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    padding: 1rem 1.5rem;
    transition: box-shadow 0.4s;
    width: 100%;
    cursor: pointer;
  }

  .login-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: var(--space-cadet);
    cursor: pointer;
  }

  /* SEARCH */

  .search form {
    border: 2px solid var(--space-cadet);
    background-color: var(--azure-web);
    width: 90%;
    margin: auto;
  }

  .search input {
    background-color: var(--azure-web);
    border: none;
  }
}
