/* FONTS GOOGLE */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* VARIABLES */

:root {
  --blanco: #e0e0e0;
  --verde-opacidad: #60993e;
  --bg-menu: #2e294e;
  --bg-body: #c7e1ff;
}

/* GENERALES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  color: var(--blanco);
  display: flex;
}

/* LAYOUT */

.menu-dashboard {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  height: 100%;
  background: var(--bg-menu);
  padding: 20px;
  transition: max-width 0.3s ease;
  position: fixed;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-menu .logo {
  display: flex;
  align-items: center;
}

.top-menu .logo img {
  width: 80px;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.top-menu .logo span {
  font-size: 20px;
  margin-left: 20px;
  display: none;
}

.top-menu .toggle {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.top-menu .toggle i {
  font-size: 35px;
}

/* INPUT BOX */

.input-search {
  width: 100%;
  margin: 50px 0;
  padding: 15px;
  border: 3px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.input-search i {
  font-size: 30px;
  margin-right: 20px;
}

.input-search .input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 30px;
  color: var(--blanco);
  font-size: 22px;
  display: none;
}

.input-search .input::placeholder {
  color: var(--blanco);
}
/* ENLACES MENU */

.menu .enlace {
  width: 100%;
  padding: 20px 0 20px 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.menu{
  height: 100%;
}

.menu .enlace:hover {
  background: var(--verde-opacidad);
}

.menu .enlace i {
  margin-right: 20px;
  font-size: 25px;
}

.menu .enlace span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-dashboard.open {
  max-width: 300px;
}

.menu-dashboard.open .top-menu .logo span {
  display: block;
}

.menu-dashboard.open .input-search .menu-dashboard.open .menu .enlace {
  width: auto;
}

.menu-dashboard.open .input-search .input {
  display: block;
}

.menu-dashboard.open .menu .enlace {
  padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
  opacity: 1;
}

.menu .enlace.seleccionado {
  background-color: var(--verde-opacidad);
}

.dashboard-container {
  display: flex;
  flex: 1;
}

.dashboard-page {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  color: #333;
  display: none; /* Oculta todas las páginas por defecto */
}
