/* ***** FONTS *****  */
@import url("https://fonts.cdnfonts.com/css/sideware-trial");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.cdnfonts.com/css/momcake");

/** VAR CSS  */

:root {
  --header-height: 3.5rem;

  /***** COLORS *****/
  --space-cadet: rgb(46, 41, 78);
  --azure-web: #edf7f6ff;
  --asparagus: rgb(96, 153, 62);
  --chefchaouen-blue: #4a8fe7ff;
  --body-color: ;

  /***** FONT & TYPOGRAPHY *****/
  /*.5rem = 8px / 1rem = 16px ...*/
  --body-font: "Work Sans", sans-serif;
  --visit-font: "MOMCAKE", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /***** FONT WEIGHT *****/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /***** Z-INDEX *****/
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: white;
  color: var(--space-cadet);
  transition: background-color 0.4s;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ***** CSS CLASSES REUSABLE *****  */

.container {
  max-width: 1220px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
}

/* *****  SEARCH *****  */
.search {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: var(--z-fixed);
  backdrop-filter: blur(15px);
  padding: 8rem 1.5rem;
  transition: top 0.4s;
}

.form-search {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  background-color: var(--azure-web);
  border: 2px solid var(--space-cadet);
  padding-inline: 1rem;
}

.search-icon {
  font-size: 1.25rem;
  color: black;
}

.search-input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--azure-web);
  color: var(--space-cadet);
}

.search-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--space-cadet);
  cursor: pointer;
}

/* *****SHOW SEARCH *****  */

.show-search {
  top: 0;
}

/* ***** LOGIN *****  */
.login {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: var(--z-fixed);
  background-color: rgb(46, 41, 78, 30%);
  backdrop-filter: blur(5px);
  align-items: center;
  padding: 2rem;
  text-align: center;
  transition: top 0.4s;
}

.login-form {
  background-color: var(--azure-web);
  padding: 2rem 1.5rem;
  border: 2px solid rgb(46, 41, 78, 60%);
  row-gap: 1.25rem;
}

.login-title {
  font-size: var(--h2-font-size);
}

.login-group {
  row-gap: 1.35rem;
}

.login-label {
  display: block;
  text-align: initial;
  color: var(--space-cadet);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login-input {
  width: 100%;
  background-color: var(--azure-web);
  border: 2px solid rgb(46, 41, 78, 60%);
  padding: 1rem;
  color: var(--space-cadet);
}

.login-signup,
.login-forgot {
  display: block;
  font-size: var(--small-font-size);
}

.login-signup {
  margin-bottom: 0.5rem;
}

.login-signup a {
  color: var(--asparagus);
  font-weight: var(--font-medium);
}

.login-forgot {
  color: var(--asparagus);
  margin-bottom: 1.25rem;
}

.login-button {
  width: 100%;
  cursor: pointer;
}

.login-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--space-cadet);
  cursor: pointer;
}

/* ***** SHOW LOGIN *****  */

.show-login {
  top: 0;
}

/* ***** BUTTON *****  */
.button {
  color: white;
  background-color: var(--asparagus);
  font-weight: var(--font-semi-bold);
  display: inline-block;
  padding: 1rem 1.5rem;
  transition: box-shadow 0.4s;
}

.button:hover {
  box-shadow: 0 4px 32px rgb(96, 153, 62);
}

/** HOME */

.swiper-home {
  margin: initial;
}

.home-section {
  width: 100%;
  height: 1200px;
  display: flex;
}

.container-home {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 2rem 0;
}

.data-home {
  width: 50%;
  height: auto;
}

.big-title {
  font-size: 2.2rem;
  margin: 2rem 0 1rem 0;
  color: var(--space-cadet);
}

.description-content {
  font-size: 1rem;
  color: rgb(46, 41, 78, 70%);
}

.get-started {
  margin: 2rem 0;
  background-color: var(--space-cadet);
  color: white;
  padding: 1.25rem;
  border-radius: 30px;
  font-weight: 600;
}

.get-started:hover {
  background-color: var(--azure-web);
  color: var(--space-cadet);
  border: 1px solid var(--space-cadet);
  transition: 0.1s ease-in;
}

.images-home {
  display: grid;
}

.article-home,
.img-home {
  width: 70vw;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.8s ease-in-out;
  gap: 1rem;
}

.tittle-town {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: var(--space-cadet);
  transition-duration: 0.4s;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-align: right;
  margin: 2rem 0;
}

.tittle-town:hover {
  background-color: rgb(73, 66, 133);
}

.card {
  display: flex;
}

.article-home {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.links-town {
  margin: 2rem 0;
}

/** PANTALLA GRANDE */
@media screen and (min-width: 881px) {
  /** HEADER   */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    height: 4rem;
    z-index: 1;
  }

  .nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-bar i {
    display: none;
  }

  .item-nav {
    margin: 0 2rem;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .item-nav i {
    display: none;
  }

  .link-nav {
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s;
    color: var(--space-cadet);
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    padding-bottom: 6px;
    font-size: 1.1rem;
  }

  .link-nav:hover {
    border-bottom-color: var(--asparagus);
  }

  /* ***** MAIN *****  */

  .main {
    margin: 4rem 0;
  }

  .home-section {
    width: 100%;
    height: max-content;
  }

  .container-home {
    width: 80vw;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: auto;
  }

  .data-home {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
    margin: 2rem 0;
    text-align: left;
  }

  .title-home {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    text-decoration: none;
    border-radius: 30px;
    width: 100%;
    padding: 1rem;
    background-color: var(--asparagus);
    color: white;
    text-align: center;
  }

  .big-title {
    font-size: 4rem;
    text-align: left;
    font-weight: 600;
    color: var(--space-cadet);
    font-family: "Work Sans", sans-serif;
    opacity: 90%;
  }
  .description-content {
    font-size: 1.2rem;
    color: var(--space-cadet);
    text-align: left;
    font-family: "Work Sans", sans-serif;
    opacity: 50%;
  }

  .get-started {
    background-color: var(--space-cadet);
    color: white;
    padding: 1rem;
    border-radius: 30px;
    font-weight: 600;
    width: 30%;
    text-align: center;
  }

  .get-started:hover {
    background-color: var(--azure-web);
    color: var(--space-cadet);
    border: 1px solid var(--space-cadet);
    transition: 0.1s ease-in;
  }

  .img-data-home {
    width: 50vw;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
  }

  .img-data-home img {
    height: 500px;
    margin: auto;
  }

  /* **** CONTAINER BANER SERVICES *****  */

  .container-baner-services {
    background-color: var(--space-cadet);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
    margin: auto;
    padding: 8rem 0;
  }

  .baner-services {
    width: 80vw;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }

  .item-services-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .i-baner-services {
    color: white;
    font-size: 2rem;
  }

  .tittle-baner-services {
    font-size: 3rem;
    font-weight: 600;
    margin: 2rem auto;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.6);
  }

  .item-tittle-services {
    color: var(--asparagus);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0 0 0;
  }

  .text-baner-item-services {
    color: var(--azure-web);
    font-size: 1rem;
  }

  /* ***** CARROUSEL TOWNS *****  */

  .carrousel-towns {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container-carrousel-towns {
    width: 80vw;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .content-text-towns {
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content-text-towns h2 {
    letter-spacing: 0.8px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
    color: var(--space-cadet);
  }

  .content-text-towns p {
    font-size: 1rem;
    line-height: 1.8;
    margin-inline: auto;
    margin-top: 10px;
    color: rgb(46, 41, 78, 80%);
  }

  .content-text-towns .counter {
    font-weight: 400;
    display: flex;
    align-items: center;
    margin: 2.5em 0 2em 0;
    gap: 2em;
    color: black;
  }

  .content-text-towns .counter i {
    margin-right: 10px;
  }

  .content-text-towns .counter span {
    display: block;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: var(--space-cadet);
    margin-top: 3px;
  }

  .content-text-towns .btn {
    background-color: #d51a6d;
    width: 50%;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    transition: 0.3s ease-in;
  }

  .content-text-towns .btn i {
    margin-left: 15px;
  }

  .content-text-towns .btn:hover {
    background-color: #ae0a53;
  }

  .swiper-towns {
    /* padding: 50px; */

    width: 60%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-slide {
      margin-top: 20px;
      height: 90%;
      width: 90%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  /* START DESIGN HOTELS - CARROUSEL   */

  .baner-hotels {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9rem 0 0 0;
    width: 100%;
  }
  .tittle-hotels-baner {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: "MOMCAKE", sans-serif;
    color: var(--asparagus);
  }

  .text-hotels-baner {
    text-align: center;
    width: 50%;
    margin: 1rem auto;
    font-size: 1.2rem;
  }

  .buton-ofers-hotels {
    margin: 1rem auto;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: var(--space-cadet);
    color: var(--azure-web);
    padding: 1rem 2.8rem;
    border-radius: 30px;
  }

  .buton-ofers-hotels:hover{
    background-color: var(--azure-web);
    border: 1px solid var(--space-cadet);
    color: var(--space-cadet);
  }

  .hotel-link {
    display: flex;
    justify-content: space-between;
  }

  .image-medellin {
    width: 100%;
    height: 100vh;
    background-image: url("/images/marca/PNG/footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carrusel-infinito {
    width: 100%;
    height: 30rem;
    display: flex;
  }
  .slider {
    width: 80vw;
    height: auto;
    margin: auto;
    overflow: hidden;
  }

  .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(250px * 14);
    height: 300px;

    gap: 1rem;
  }

  .slide {
    width: 250px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;

    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  }

  .slide:hover {
    transform: scale(1.1);
    transition: 1.8s ease-out;
  }

  .checked {
    color: orange;
    font-size: 1rem;
  }

  .slider .slide img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: block;
  }

  .name-hotel {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    margin: 0 0 0 0.5rem;
  }

  .price-hotel {
    color: var(--asparagus);
    font-weight: 600;
    font-size: 1rem;
    margin: 0 0 0 0.5rem;
  }

  .link-explore-hotel {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--chefchaouen-blue);
    padding: 0.4rem;
    border-top-left-radius: 15px;
  }

  .stars {
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0 0 0 0.5rem;
  }

  .stars i {
    font-size: 1.3rem;
    color: gray;
  }

  .view {
    width: 60px;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #60993e;
  }

  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
    }
  }
  /* END DESIGN HOTELS - CARROUSEL   */

  /** EVENTOS */

  .events {
    width: 100%;
    height: auto;
  }

  .tittle-experience-visit {
    text-align: center;
    font-size: 5rem;
    margin: 2rem 0;
    color: white;
    font-family: "Work Sans", sans-serif;
    background-color: var(--space-cadet);
  }

  .swiper {
    width: 80vw;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("/images/marca/PNG/girasol.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  /*--***** FOOTER  ***** */

  .footer {
    background-color: var(--space-cadet);
    width: 100%;
    height: max-content;
  }

  .container-footer {
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }

  .part-1-footer {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }

  .part-1-footer h3 {
    color: var(--azure-web);
  }

  .part-1-footer p {
    color: white;
  }

  .part-1-footer a {
    color: white;
    display: block;
  }

  .link-social-footer {
    margin: 1rem 0;
    display: flex;
    justify-content: space-evenly;
  }

  .link-social-footer i {
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
  }

  .input-footer {
    height: 1.5rem;
    margin: 1rem 0;
  }

  .footer h3 {
    margin: 0 0 1rem 0;
    color: white;
  }

  .logo-footer {
    width: 80px;
    height: 80px;
  }

  .copy-right {
    color: white;
  }

  .part-2-footer {
    background-color: white;
    width: 100%;
    padding: 0.5rem;
  }

  .copy-right {
    color: black;
    text-align: center;
  }

  /* SECTION DASHBOARD USER LOGIN*/

  .body-user {
    background-color: var(--space-cadet);
    padding: 2rem 0;
    height: 100vh;
    position: fixed;
  }

  .containe-main-user-dashboard {
    background-color: var(--space-cadet);
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  .menu-dashboard {
    height: 100%;
    width: 20%;
    left: 0;
  }

  .image-profile-user-dashboard {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 0;
  }

  .img-profile-dashboard {
    width: 80%;
    margin: auto;
    border-radius: 60%;
  }

  .name-user-dashboard {
    margin: auto;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;

    font-family: var(--body-font);
  }

  .list-menu-dashboard {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .item-list-dashboard {
    margin: 1.2rem 3rem;
  }

  .item-list-dashboard a {
    color: white;
    margin-left: 1rem;
  }

  .item-list-dashboard i {
    color: white;
    font-size: 1.3rem;
  }

  /* ***** -- EVENTS ITEM DESCRIPTION  *****  */

  .body-events {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: var(--space-cadet);
  }

  .container-events-post {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 80vw;
    height: 80vh;
    margin: auto;
  }

  .description-event {
    width: 30%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .description-event i {
    font-size: 1.5rem;
    color: var(--chefchaouen-blue);
  }

  .text-description-event {
    font-size: 1.1rem;
    color: var(--azure-web);
  }

  .text-response-description-event {
    font-size: 1.1rem;
    color: var(--asparagus);
  }

  .item-event-description {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
  }

  .imagen-event-description {
    width: 30%;
    height: 100vh;
    display: flex;
  }

  .img-size-events {
    height: 72%;
    margin: auto;
  }

  .ticket {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .calendar-event {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .day-calendar {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
  }

  .number-calendar {
    font-size: 3rem;
    font-weight: 600;
    color: var(--chefchaouen-blue);
  }

  .date-calendar {
    font-size: 1.4rem;
    color: white;
  }

  .line-calendar {
    width: 40%;
    color: white;
    border: 2px solid white;
  }

  .hour-calendar {
    font-size: 1.3rem;
    color: aqua;
  }

  .button-buy-ticket- {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buy-ticket-button {
    width: 70%;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--space-cadet);
    border-radius: 5px;
  }

  .main-restaurants {
    background-image: url("/images/marca/megafono.svg");
    width: 100vw;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .restaurants-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: 100%;
  }
}

/* ***** @media -- MOBILE DEVICES *****  */

@media screen and (max-width: 800px) {
  .menu-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--azure-web);
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.2);
    padding: 1.25rem 4rem;
    transition: background-color 0.4s;
  }

  .link-nav span {
    display: none;
  }

  .actions-nav {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 0 1rem 0 0;
  }

  /* ***** SECTION EVENTS DESCRIPTION *****  */

  .container-events-post {
    overflow: hidden;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: var(--space-cadet);
  }

  .description-event {
    height: 50vh;
  }

  .description-event i {
    font-size: 1rem;
    color: var(--chefchaouen-blue);
  }

  .text-description-event {
    font-size: 1.1rem;
    color: var(--azure-web);
  }

  .text-response-description-event {
    font-size: 1.1rem;
    color: var(--asparagus);
  }

  .item-event-description {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .imagen-event-description {
    display: flex;
  }

  .img-size-events {
    width: 60%;
    margin: auto;
  }

  .ticket {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .calendar-event {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  .day-calendar {
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    margin: 1rem 0 0 0;
  }

  .number-calendar {
    font-size: 3rem;
    font-weight: 600;
    color: var(--chefchaouen-blue);
  }

  .date-calendar {
    font-size: 1.4rem;
    color: white;
    text-align: center;
  }

  .line-calendar {
    width: 80%;
    color: white;
    border: 2px solid white;
  }

  .hour-calendar {
    font-size: 1.3rem;
    color: aqua;
  }

  .button-buy-ticket- {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buy-ticket-button {
    width: 90%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--space-cadet);
    border-radius: 5px;
    margin: 1rem 0;
  }
}
