<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer | component</title>
    <!-- STYLES CSS -->
    <link rel="stylesheet" href="/src/css/style.css" />
    <!-- REMIXICON -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css"
    />
  </head>
  <body>
    <!-- START FOOTER -->
    <footer class="footer">
      <!-- DINAMIC FOOTER -->
    </footer>
    <!-- END FOOTER -->

    <!-- START COPYRIGHT -->
    <p class="copy-rights">
      <!-- <P> DINAMIC -->
    </p>
    <!-- END COPYRIGHT -->
    <script src="./footer.js"></script>
  </body>
</html>
