<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medellín</title>
    <link rel="stylesheet" href="./townpage.css" />
    <link rel="stylesheet" href="../loader/loader.css" />
    <link rel="shortcut icon" href="/public/img/visitIcon.svg" type="image/x-icon">
  </head>
  <body>
    <div class="load" id="load">
      <!-- LOADER DINAMIC -->
    </div>
    <main>
      <ul class="slider">
        <li
          class="item"
          style="background-image: url('/public/img/townpage/photo1.jpg')"
        >
          <div class="content">
            <h2 class="title">MEDELLÍN</h2>
            <p class="description">
              Medellín, bustling city where culture and innovation intertwine.
              An oasis of progress amidst mountains, where each street tells a
              story of resilience and hope.
            </p>
          </div>
        </li>
        <li
          class="item"
          style="background-image: url('/public/img/townpage/photo2.jpg')"
        >
          <div class="content">
            <h2 class="title">MEDELLÍN</h2>
            <p class="description">
              Medellín, lively hub of art and commerce, nestled in verdant
              hills. A tapestry of history and modernity, where dreams take
              flight.
            </p>
          </div>
        </li>
        <li
          class="item"
          style="background-image: url('/public/img/townpage/photo3.jpg')"
        >
          <div class="content">
            <h2 class="title">MEDELLÍN</h2>
            <p class="description">
              Medellín, dynamic urban center where culture and vitality
              converge. Amidst lush landscapes, a city pulsating with energy and
              opportunity.
            </p>
          </div>
        </li>
        <li
          class="item"
          style="background-image: url('/public/img/townpage/photo4.jpg')"
        >
          <div class="content">
            <h2 class="title">MEDELLÍN</h2>
            <p class="description">
              Medellín, vibrant metropolis where tradition and progress
              harmonize. Amid towering peaks, a mosaic of resilience and
              creativity unfolds.
            </p>
          </div>
        </li>
        <li
          class="item"
          style="background-image: url('/public/img/townpage/photo5.jpg')"
        >
          <div class="content">
            <h2 class="title">MEDELLÍN</h2>
            <p class="description">
              Medellín, bustling cosmopolitan gem nestled in the Andes' embrace.
              A haven of diversity and innovation, where every street breathes
              life.
            </p>
          </div>
        </li>
        <li
          class="item"
          style="background-image: url('/public/img/townpage/photo6.jpg')"
        >
          <div class="content">
            <h2 class="title">MEDELLÍN</h2>
            <p class="description">
              Medellín, thriving cultural nexus amidst Colombia's verdant
              landscape. A sanctuary of passion and resilience, where dreams
              find wings to soar.
            </p>
          </div>
        </li>
      </ul>
      <nav class="nav">
        <ion-icon class="btn prev" name="arrow-back-outline"></ion-icon>
        <a href="/index.html">
          <img src="/public/img/visitIcon.png" alt="logoVisit" />
        </a>
        <ion-icon class="btn next" name="arrow-forward-outline"></ion-icon>
      </nav>
    </main>
    <script src="../loader/loader.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="./townpage.js"></script>
  </body>
</html>
