/* ***** FONTS ***** By*JR* */
@import url("https://fonts.cdnfonts.com/css/sideware-trial");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.cdnfonts.com/css/momcake");

/* ***** VAR CSS***** By*JR* */
[data-theme="light"],
:root {
  --header-height: 3.5rem;

  /***** COLORS *****/
  --space-cadet: #2e294e;
  --azure-web: #edf7f6ff;
  --asparagus: #60993e;
  --chefchaouen-blue: #4a8fe7ff;
  /* --body-color: ; */
  --btn-color: #edf7f6ff;
  --font--color: #2e294e;
  --paragraph-color: #2e294e;

  /***** FONT & TYPOGRAPHY *****/
  --body-font: "Work Sans", sans-serif;
  --visit-font: "MOMCAKE", sans-serif;

  /***** FONT WEIGHT *****/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /***** Z-INDEX *****/
  --z-tooltip: 10;
  --z-fixed: 100;

  body {
    transition: background-color 0.4s;
  }
}

[data-theme="dark"] {
  --header-height: 3.5rem;

  /***** COLORS *****/
  --space-cadet: #2e294e;
  --azure-web: #dcdce0;
  --asparagus: #60993e;
  --chefchaouen-blue: #4a8fe7ff;
  --font--color: #dcdce0;
  --btn-color: #2e294e;
  --paragraph-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: var(--visit-font);
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  /* Pseudo-elemento ::before para opacidad oscura */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Opacidad oscura, ajusta el valor del último parámetro según lo que necesites */
    border-radius: 10px;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
  }

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: calc(50% + 220px);
  }
  &:nth-child(5) {
    left: calc(50% + 440px);
  }
  &:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
  }
}

.content {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;

  & .title {
    text-transform: uppercase;
    font-size: 5rem;
  }

  & .description {
    line-height: 1.3;
    margin: 1rem 0 1.5rem;
    font-size: 1.2rem;
  }

  & button {
    width: fit-content;
    background-color: var(--azure-web);
    color: black;
    font-size: 1.2rem;
    border: 2px solid var(--space-cadet);
    /* border-radius: 0.5rem; */
    padding: 0.75rem;
    cursor: pointer;
  }
}

button:hover{
  background-color: var(--asparagus);
  color: white;
  border: 2px solid var(--asparagus);
  transition: .5s;
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: var(--space-cadet);
    color: var(--azure-web);
    border: 2px solid var(--space-cadet);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgb(42, 37, 74);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title {
      font-size: 1rem;
    }
    & .description {
      font-size: 0.7rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 170px);
    }
    &:nth-child(5) {
      left: calc(50% + 340px);
    }
    &:nth-child(6) {
      left: calc(50% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    & .title {
      font-size: 0.9rem;
    }
    & .description {
      font-size: 0.65rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 140px);
    }
    &:nth-child(5) {
      left: calc(50% + 280px);
    }
    &:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
}

.nav img{
  height: auto;
  width: 50px;
  cursor: pointer;
  /* transform: ; */
}

.nav img:hover {
  transform: scale(1.05);
}