/** FONTS   */
@import url("https://fonts.cdnfonts.com/css/sideware-trial");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.cdnfonts.com/css/momcake");

/** VAR CSS  */
:root {
  --header-height: 3.5rem;

  /***** COLORS *****/
  --space-cadet: #2e294e;
  --azure-web: #edf7f6ff;
  --asparagus: #60993e;
  --chefchaouen-blue: #4a8fe7ff;

  /***** FONT & TYPOGRAPHY *****/
  --body-font: "Work Sans", sans-serif;
  --visit-font: "MOMCAKE", sans-serif;

  /***** FONT WEIGHT *****/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /***** Z-INDEX *****/
  --z-tooltip: 10;
  --z-fixed: 100;
}

.container {
  max-width: 1220px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
}

/* ***** LOGIN *****  */
.login {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: var(--z-fixed);
  background-color: rgb(46, 41, 78, 30%);
  backdrop-filter: blur(5px);
  align-items: center;
  padding: 2rem;
  text-align: center;
  transition: top 0.4s;
}

.login-form {
  background-color: var(--azure-web);
  padding: 2rem 1.5rem;
  border: 2px solid rgb(46, 41, 78, 60%);
  row-gap: 1.25rem;
}

.login-title {
  font-size: var(--h2-font-size);
}

.login-group {
  row-gap: 1.35rem;
}

.login-label {
  display: block;
  text-align: initial;
  color: var(--space-cadet);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login-input {
  width: 100%;
  background-color: var(--azure-web);
  border: 2px solid rgb(46, 41, 78, 60%);
  padding: 1rem;
  color: var(--space-cadet);
}

.login-signup,
.login-forgot {
  display: block;
  font-size: var(--small-font-size);
}

.login-signup {
  margin-bottom: 0.5rem;
}

.login-signup a {
  color: var(--asparagus);
  font-weight: var(--font-medium);
}

.login-forgot {
  color: var(--asparagus);
  margin-bottom: 1.25rem;
}

.login-button {
  width: 100%;
  cursor: pointer;
}

.login-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--space-cadet);
  cursor: pointer;
}

/** SHOW LOGIN */
.show-login {
  top: 0;
}
