<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Component</title>
    <link rel="stylesheet" href="/src/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <header class="header" id="header">
      <!-- DINAMIC NAV -->
    </header>

    <div class="login grid" id="login-content">
        <!-- DINAMIC LOGIN -->
    </div>

    <div class="login grid" id="signUp-content">
        <!-- DINAMIC SIGNUP -->
    </div>

    <script src="../navbar/navbar.js"></script>
    <script src="/src/js/login.js"></script>
  </body>
</html>
