/* ARCHIVO VINCULADO CON EL HTML guatape.html */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/momcake");

:root {
    /* CSS HEX */
    --space-cadet: #2e294eff;
    --azure-web: #edf7f6ff;
    --asparagus: #60993eff;
    --chefchaouen-blue: #4a8fe7ff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f7f4;
}

/*nav bar styles*/
.header {
    height: 4.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    margin: 0 auto;

}

.logo img {
    height: 40px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 16px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    color: var(--space-cadet);
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s;

}

.nav-menu-link:hover {
    border-bottom-color: var(--asparagus);
}

.search-bar::placeholder {
    color: var(--asparagus);
    font-style: italic;
    opacity: 0.7;
}

.search-bar {
    border: none;
    border-bottom: 2px solid var(--asparagus);
    outline: none;
    width: 250px;
}

.search-bar::placeholder {
    color: #999;
    font-style: italic;
}

input:focus {
    outline: none;
    border-color: transparent;
}

.user-login {
    height: 1.8rem;
}

.logout {
    height: 24px;
}

/*Styles carrousel */
.main-section {
    position: relative;
    margin: 4rem auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.content {
    max-width: 50%;
    padding: 0 20px;
    text-align: left;
    color: #fff;
}

.carousel-section {
    width: 40%;
    height: 70%;
    position: absolute;
    right: 0;
    top: 15%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 20vw;
    margin: 8rem 0;

}

.carousel-item {
    width: 30%;
    flex: 0 0 auto;
    margin-right: px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    border-radius: 7px;
}

.carousel-item:hover {
    transform: scale(1.1);

}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
}

.carousel-item.active img {
    transform: scale(1.2);
}