/* PALETA DE COLORES CON NOMBRES DESCRIPTIVOS */

:root {
  --Verde-puro: #60993e; /* Verde Puro*/
  --Azure: #edf7f6; /* Azure*/
  --Azul-Cielo: #4a8fe7; /* Azul Cielo*/
  --Morazul-Oscuro: #2e294e; /* Morazul*/
  --Negro: #000000; /* Negro*/
}

/* BACKGROUND #2E294E CON TIPO DE FUENTE MOMCAKE PARA TODO EL BODY DEL LOGIN */
body {
  background-color: var(--Morazul-Oscuro);
  font-family: "MOMCAKE", sans-serif;
}

/* CAMPO DE INICIO EN COLUMNA USANDO FLEX PARA CENTRARLO */
.login-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* LOGO OFICIAL VISIT CON TONOS CLAROS, AJUSTE DE TAMAÑO Y SOMBREADO USANDO LA PROPIEDAD FILTER DROP SHADOW */
.logo-login {
  width: 72px;
  height: 98.99px;
  margin-top: 3%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.6));
}

/* TITULO PRINCIPAL DEL LOGIN, ÚNICO H1 DEL ARCHIVO, CENTRADO Y USANDO UNA VERSIÓN MÁS DELGADA DE LA FUENTE MOMCAKE CON LA FUNCIÓN FONT-WEIGHT */
h1 {
  color: #fefdfe;
  text-align: center;
  font-weight: lighter;
  margin: 3% 0;
}

/* CONTENEDOR DE LOS CAMPOS INPUT SIENDO ESTILIZADO CON PROPIEDADES BÁSICAS, CENTRADO CON FLEX.  */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 4px;
  width: 20rem;
  height: auto;
}

/* PERSONALIZANDO INPUTS CON DISEÑOS Y TAMAÑOS ACORDE A UNA BUENA EXPERIENCIA DE USUARIO */
.input {
  width: 250px;
  height: 28px;
  border: 0.5px solid rgb(0, 0, 0, 0.5);
  border-radius: 8px;
}

/* A LA HORA DE CLICKEAR EL INPUT USANDO :FOCUS CAMBIAMOS LOS ESTILOS PUESTOS POR DEFECTO */
.input:focus {
  color: var(--Morazul-Oscuro);
  font-family: 19px;
  border: 0.5px solid var(--Morazul-Oscuro);
}

/* IGUAL QUE LA LINEA 61 */
placeholder:focus {
  background-color: #fff;
  transform: translateY(5%);
}

/* DISTANCIA ENTRE LOS DEMAS ELEMENTOS */
.user {
  margin-top: 3rem;
}

/* DISTANCIA ENTRE LOS DEMAS ELEMENTOS */
.pass {
  margin-top: 3rem;
}

/* BOTÓN PARA LOGUEARSE CON ESTILOS BÁSICOS QUE GENERAN UN DISEÑO LIMPIO */
button {
  width: 255px;
  height: 30px;
  background-color: #1f883d;
  color: #fff;
  border: 3px solid #1f883d;
  border-radius: 5px;
  margin-top: 2rem;
}

/* EDITANDO EL DISEÑO AL PASAR EL MOUSE O CURSOR POR ENCIMA DEL BOTÓN */
button:hover {
  background-color: var(--Morazul-Oscuro);
  color: azure;
  border: 3px solid var(--Morazul-Oscuro);
}

/* ¿PERDISTE TU CONTRASEÑA? USA EL LINK CON DISEÑO EXCLUSIVO DE VISIT PARA RECUPERARLA */
.forgot-pass {
  margin: 1rem 0;
  text-decoration: none;
  font-size: 1rem;
  color: var(--Morazul-Oscuro);
}

/* CAMBIO LEVE EN EL COLOR DEL LINK AL PASAR EL CURSOR */
.forgot-pass:hover {
  color: #423c6c;
}

/* DISTANCIA O MARGEN SUPERIOR  */
.sign-with {
  margin-top: 14px;
}

/* H2 DEL "INICIA SESIÓN CON" CON UN TIPO DE FUENTE MÁS DELGADA UTILIZANDO LA PROPIEDAD FONT-WEIGHT*/
.sign-with h2 {
  color: #fefdfe;
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
}

/* HR DIVISOR ENTRE LAS REDES SOCIALES Y EL TITULO H2 DE LA LÍNEA 121 */
.sign-with hr {
  border-radius: 3px;
  border: 0.1px solid hsl(300, 33%, 99%, 0.2);
  color: hsl(300, 33%, 99%, 0.2);
  width: 7rem;
  margin-top: -5px;
  margin-bottom: 18px;
}

/* QUITANDO LA RAYA INFERIOR DE LAS IMAGENES */
.sign-with a {
  text-decoration: none;
}

/* TAMAÑO DE LOS LOGOS DE REDES SOCIALES */
.redes {
  width: 40px;
  margin: 0 15px;
}

/* EDITAR JULIAN PARA PONER LA IMAGÉN BACKGROUND ESTABLE EN CUALQUIER PANTALLA */
footer img {
  position: absolute;
  z-index: -2;
  top: -21%;
  width: 100vw;
  opacity: 15%;
}
