/* INICIO PALETA DE COLORES */
:root {
  --Verde-puro: #60993E; /* Verde Puro*/
  --Azure: #EDF7F6; /* Azure*/
  --Azul-Cielo: #4A8FE7; /* Azul Cielo*/
  --Morazul-Oscuro: #2E294E; /* Morazul*/
  --Negro: #000000; /* Negro*/
}
/* FIN PALETA DE COLORES */

html {
  margin: 0;
  border: 0;
  font-family: "MOMCAKE", sans-serif;
  background-color: var(--Morazul-Oscuro);
}

/* INICIO PRUEBA DE FUENTE  */
/* DE LA LÍNEA 6 HASTA LA LÍNEA 11, SE CENTRA EL DIV CON LA CLASE pruebaFuente */
.pruebaFuente {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ecf0f1;
  text-align: center;
}
/* FIN PRUEBA DE FUENTE */
