<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Events | Visit</title>
    <link rel="stylesheet" href="/src/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css"
    />
    <link rel="stylesheet" href="./style.css" />
        <!-- ICON PAGE -->
        <link
        rel="shortcut icon"
        href="/public/img/visitIcon.png"
        type="image/x-icon"
      />
  </head>
  <body class="body-events">
    <header class="header" id="header">
      <!-- DINAMIC NAV -->
    </header>

    <div class="container-events-post">
      <div class="description-event">
        <div class="item-event-description">
          <i class="ri-map-pin-line"></i>
          <p class="text-description-event">Location</p>
          <p class="text-response-description-event">location</p>
        </div>

        <div class="item-event-description">
          <i class="ri-user-forbid-line"></i>
          <p class="text-description-event">Edad mínima</p>
          <p class="text-response-description-event">edad minima</p>
        </div>

        <div class="item-event-description">
          <i class="ri-building-2-line"></i>
          <p class="text-description-event">City</p>
          <p class="text-response-description-event">city</p>
        </div>

        <div class="item-event-description">
          <i class="ri-map-pin-line"></i>
          <p class="text-description-event">Category</p>
          <p class="text-response-description-event">category</p>
        </div>

        <div class="item-event-description">
          <i class="ri-map-pin-line"></i>
          <p class="text-description-event">Responsible</p>
          <p class="text-response-description-event">responsible</p>
        </div>

        <div class="item-event-description">
          <i class="ri-map-pin-line"></i>
          <p class="text-description-event">Nit</p>
          <p class="text-response-description-event">nit</p>
        </div>

        <div class="item-event-description">
          <i class="ri-map-pin-line"></i>
          <p class="text-description-event">Tickets Available</p>
          <p class="text-response-description-event">la macarena</p>
        </div>

        <div class="item-event-description">
          <i class="ri-map-pin-line"></i>
          <p class="text-description-event">Door opening</p>
          <p class="text-response-description-event">door opening</p>
        </div>
      </div>

      <div class="ticket">
        <div class="calendar-event">
          <p class="day-calendar">SAT</p>
          <p class="number-calendar">02</p>
          <p class="date-calendar">MARCH 2024</p>
          <hr class="line-calendar" />
          <p class="hour-calendar">7:00 PM</p>
        </div>

        <div class="button-buy-ticket-">
          <button class="buy-ticket-button">Buy Ticket</button>
        </div>
      </div>

      <div class="imagen-event-description">
        <img
          src="/public/img/eventos/expotatto.jpg"
          alt=""
          class="img-size-events"
        />
      </div>
    </div>
    <script src="../navbar/navbar.js"></script>
    <script src="../eventsGallery/events.js"></script>
  </body>
</html>
